
:global {
  @import "container";
  @import "functions";
  @import "colours";

  html, body {
    height: 100vh;
    width: 100vw;
    font-size: 10px;
    font-family: sans-serif;
    font-weight: 100;
    z-index: -1000;
    overflow: hidden;
    text-rendering: optimizeSpeed;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    color: white
  }

  body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background: #303030;
    overflow: auto;
  }

  textarea, input, button {
    outline: none;
  }

  div#root {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  .siteContainer {
    position: relative;
    min-height: 100%;
    width: 100%;
    margin: 20px;
    padding: 15px;
  }

  .flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .flexColumn {
    flex-direction: column;
  }

  .bold {
    font-weight: bold;
  }

  .fh {
    min-height: 100%
  }

  .fw {
    min-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

}
