
html, body {
    height: 100vh;
    width: 100vw;
    font-size: 10px;
    font-family: sans-serif;
    font-weight: 100;
    z-index: -1000;
    overflow: hidden;
    text-rendering: optimizeSpeed;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background: #222;
    overflow: auto;
}

textarea, input, button {
    outline: none;
}

div#root {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.bold {
    font-weight: bold;
}

.fh {
    min-height: 100%
}

.fw {
    min-width: 100%;
    padding-left: 0;
    padding-right: 0;
}
